<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetoevosystems">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Consultar Funcionário"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Consultar_fun"
            android:label="Consultar Funcionário" />
        <activity
            android:name=".add_fun"
            android:label="Adicionar Funcionário"/>
        <activity
            android:name=".Consultar_dep"
            android:label="Consultar Departamento"/>
        <activity
            android:name=".add_dep"
            android:label="Adicionar Departamento"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Consultar_fun_dep" />
    </application>

</manifest>